<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        <target xsi:type="File" name="file" fileName="c:\temp\nlog-AspNetCore-errors-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
        
        <target xsi:type="Console" name="console" layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
        
        <target xsi:type="Database" name="db">
            <dbProvider>Npgsql.NpgsqlConnection, Npgsql</dbProvider>
            <connectionString>${configsetting:item=ConnectionStrings.NLog}</connectionString>
            <commandText>
                INSERT INTO public.NLog (
                MachineName, Logged, Level, Message, Logger, Properties, Callsite, Exception
                ) VALUES (
                @machineName, @logged, @level, @message, @logger, @properties, @callsite, @exception
                );
            </commandText>
            
            <parameter name="@machineName" layout="${machinename}" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@properties" layout="${all-event-properties:separator=|}" />
            <parameter name="@callsite" layout="${callsite}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Error" writeTo="file,console,db" />
    </rules>
</nlog>